@using YavlenaPlus.Services.Contracts;
@using YavlenaPlus.Data;
@using Microsoft.AspNetCore.Identity;
@using YavlenaPlus.Data.Models;
@{
    ViewData["Title"] = "Home Page";
}
@inject YavlenaPlusContext _context;
@inject UserManager<YavlenaPlusUser> _userManager;
@inject IOffersService _offersService;
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@*<img src="/pictures/TheOfficePalma.jpg" alt="Alternate Text" />*@
<img src="~/pictures/qvlenaOfisMladost.jpg" />"
@*@{ var test = (@"<img src=""//imot.focus.bg/photosimotbg/1/618/1c156500544829618_RV.pic"" width=""200"" height=""150"" border=""0"" alt=""Обява продава 3-стаен, град София, Овча купел"">"); }*@

<div id="test">

</div>
@*<script>
    let element = document.createElement("img", HTMLImageElement);
    //element.src = "//imot.focus.bg/photosimotbg/1/304/1i156224297379304_pp.pic";
    element.src = "/pictures/TheOfficePalma.jpg"
    document.getElementById("test").appendChild(element);
</script>*@