@using Microsoft.AspNetCore.Identity;
@using YavlenaPlus.Data.Models;
@using YavlenaPlus.Data;
@inject SignInManager<YavlenaPlusUser> SignInManager
@inject UserManager<YavlenaPlusUser> UserManager
@inject YavlenaPlusContext _context;

@{ var user = UserManager.GetUserAsync(this.User).GetAwaiter().GetResult(); }
    <form asp-area="" asp-controller="Offers" asp-action="PrepareComment" method="post">
        

    </form>
@*<ul class="navbar-nav">
@if (_context.Comments.Select(x=>x.OfferId == ))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>*@